.armazem-container {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.form-field label {
  margin-right: 10px;
  width: 80px;
}

.form-field select {
  flex: 1; /* Utiliza todo o espaço restante na linha */
}

.button-container {
  margin-top: 20px;
  padding: 10px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
}

.button-container .cadastrar-button {
  padding: 10px 5px; /* Ajuste o espaçamento interno do botão conforme necessário */
  width: fit-content; /* Define a largura com base no conteúdo do botão */
  background-color: blue; /* Cor de fundo azul */
  color: white; /* Texto em branco */
}

.button-container button {
  padding: 10px 10px; /* Ajuste o espaçamento interno do botão conforme necessário */
}

.estoque-list{
  max-width: 100%;
    width: auto;
}

.edits {
  display: flex;
  gap: 10px;
  justify-content: center;
}