.armazem-container {
  margin: 20px;
}

h2 {
  align-items: center;
  margin-bottom: 25px;
  font-family: Raleway;
  font-size: 20px;
}

.sub-title {
  margin-bottom: 25px;
}

.form-row {
  display: flex;
  align-items: center;
}

.form-field {
  margin-right: 15px;
}

label {
  font-weight: bold;
  margin-right: 5px;
}

input[type="text"].armazem-input,
select.armazem-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.button-container {
  display: flex;
  margin-top: 10px;
}

.button-container button {
  margin-right: 10px;
  margin-left: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 3px solid white;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  font-weight: bold;
}

.edits button {
  margin-right: 5px;
}

.Armazemsuccess {
  background-color: #4caf50;
  color: white;
}

.Armazemsuccess:hover {
  background-color: #45a049;
}

.danger {
  background-color: #f44336;
  color: white;
}

.danger:hover {
  background-color: #d32f2f;
}

.Armazemsecondary {
  background-color: #ccc;
  color: black;
}

.Armazemsecondary:hover {
  background-color: #999;
}
