.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: palevioletred;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  overflow-y: hidden;
}

.form-container {
  display: flex;
  width: 50%;
  padding: 20px;
  justify-content: center;
}

.form-body {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-button {
  width: 100%;
  padding: 20px;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #52bc4c;
  transition-delay: 0.3s;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.form-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-input {
  width: 100%;
  padding: 20px;
}

h2 {
  margin-top: 0;
}

p {
  margin-top: 10px;
}

a {
  color: blue;
}

.error-message {
  color: red;
}
