.estoque-cadastro {
  margin-top: 20px;
}

.estoque-cadastro h2 {
  font-size: 22px;
  margin-bottom: 35px;
  font-family: Arial, sans-serif;
}

.estoque-cadastro form {
  margin-bottom: 20px;
  max-width: 220px;
  display: flex; /* Adiciona display: flex para o alinhamento */
  flex-direction: column; /* Alinha os elementos verticalmente */
}

.estoque-cadastro label {
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.estoque-cadastro div.form-field {
  margin-bottom: 10px;
}

.estoque-cadastro select,
.estoque-cadastro input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.estoque-cadastro button {
  margin-top: 15px;
  margin-left: auto; /* Move o botão para a direita */
  background-color: blue;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}
