.estoque-cadastro {
  margin-top: 20px;
}

.estoque-cadastro h2 {
  font-size: 22px;
  margin-bottom: 35px;
  font-family: Arial, sans-serif;
}

.estoque-cadastro form {
  margin-bottom: 20px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
}

.estoque-cadastro label {
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.estoque-cadastro .form-field {
  margin-bottom: 20px;
}

.estoque-cadastro select,
.estoque-cadastro input {
  width: 100%; /* Atualizei para 100% para ocupar a largura completa */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.estoque-cadastro__button.secondary {
  margin-top: 10px;
  margin-left: 7px;
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}
