.estoque-cadastro {
  margin-top: 20px;
}

.estoque-cadastro h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.estoque-cadastro form {
  margin-bottom: 20px;
}

.estoque-cadastro label {
  font-weight: bold;
}

.estoque-cadastro div {
  margin-bottom: 10px;
}

.estoque-cadastro button {
  margin-top: 10px;
}
